/*
    Jakob Allen
    04/29/2026
*/

/* 
    Center text above form
*/
#contactForm h2 {text-align: center;}

/*
    Form Styles
*/
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #2B2B2B;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #555;
    color: #E8E0D6;
}

/*
    Label Styles
*/
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/*
    Input Fields Styles
*/
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    background-color: #3A312A;
    color: #E8E0D6;
    border: 1px solid #666;
    border-radius: 6px;
}

/*
    Textarea default size
*/
textarea {height: 100px;}

/*
    Button Styles
*/
#buttonContainer {
    display: flex;
    justify-content: center;

}

#buttonContainer input {
    padding: 8px 12px;
    border: 2px solid #7A5230;
    border-radius: 8px;
    background-color: #4A3D34;
    margin: 10px;
    font-weight: bold;
    color: #E8E0D6;
}

#buttonContainer input:hover {
    background-color: #8F4A2D;
    color: white;
}